In [1]:
import numpy as np
import pandas as pd

In [2]:
# random seed
np.random.seed(42)

set1no = 900
set2no = 100

In [4]:
df1 = pd.DataFrame({
    "feature_1":np.random.normal(loc=0, scale=1, size=set1no),
    "feature_2":np.random.normal(loc=0, scale=1, size=set1no),
    "target": [0] * set1no
})

df2 = pd.DataFrame({
    "feature_1":np.random.normal(loc=0, scale=1, size=set2no),
    "feature_2":np.random.normal(loc=0, scale=1, size=set2no),
    "target": [1] * set2no
})

In [5]:
df1.head()

   feature_1  feature_2  target
0  -0.675178  -0.045512       0
1  -0.144519  -0.424236       0
2  -0.792420  -0.569833       0
3  -0.307962   0.329509       0
4  -1.893615  -1.517174       0

In [6]:
df2.head()

   feature_1  feature_2  target
0  -1.388543  -0.556119       1
1  -1.600271  -0.130060       1
2  -1.217283   1.669070       1
3   0.159463  -0.942558       1
4  -0.892788   1.614779       1

In [7]:
df = pd.concat([df1,df2]).reset_index(drop=True)

In [8]:
df

     feature_1  feature_2  target
0    -0.675178  -0.045512       0
1    -0.144519  -0.424236       0
2    -0.792420  -0.569833       0
3    -0.307962   0.329509       0
4    -1.893615  -1.517174       0
..         ...        ...     ...
995   1.001632   0.028458       1
996   1.393455  -2.077812       1
997   0.710549  -0.320298       1
998   0.429341   1.643378       1
999   0.379640   0.360648       1

[1000 rows x 3 columns]

In [9]:
df["target"].unique()

array([0, 1])

In [10]:
df["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [11]:
# upsampling -> upsample minority

In [ ]:
# downsampling -> downsample majority